script(type='text/javascript', src='/js/jquery.min.js')
script(type='text/javascript', src='/js/bootstrap.min.js')
script(type='text/javascript', src='/js/bootbox.js')
script(type='text/javascript', src='/js/app.js')

- if ('undefined' !== typeof disqus)
    script(type='text/javascript', src='/js/survey_show.js')