extends ../layouts/layout
block content
  #content.container
    .row
        .span8.offset2
          .box.clearfix
            .page-header
              h3
                a.btn.btn-success.pull-right.trigger-lightbox.validate-register(href='/signup') Not registered yet?
                | Login
            .facebook-login
              p.mbxs Or login via :
              a.facebook-login2(href='/auth/facebook')                                 
              a.twitter-login2(href='/auth/twitter')                
                                           
            form#login.form-vertical.login(action='/login', method='post')
              .control-group
                label.control-label.required(for='email') Email address
                .controls
                  input#email(type='text', name='email')
              .control-group
                label.control-label.required(for='password')
                  | Password (
                  a.trigger-lightbox.validate-resetpassword(href='#modal', data-toggle="modal") forgot password
                  | )
                .controls
                  input#password(type='password', name='password')
              
              button.btn.btn-info(type='submit') Login 
              &nbsp;     
              a.btn(href='/') Cancel
    #modal.hide.modal.fade.in(aria-hidden='false')
      .modal-header
        button.close(data-dismiss='modal') ×
        h3 Forgot password
      .modal-body
        p.mbl We will send you a link via email to reset your password.
        form#forgetpassword.form-horizontal(action='/forgetpassword', method='post', accept-charset='utf-8', enctype='application/x-www-form-urlencoded')
          .control-group
            label.control-label.required(for='email2') Email address
            .controls
              input#email2(type='text', value='', name='email2')
          
          button.btn.btn-info(type='submit') Reset password
          &nbsp;
          button#cancel.btn(data-dismiss='modal', type='reset', name='cancel') Cancel
  include ../layouts/footer          

block custom_page_script
    script      
      $(function() {
        
        $('#login').submit(function (e) {
            e.preventDefault()
            var redirect = "#{req.param('back')}" || "/" 
            $(".alert-error").remove()
            $("#login").append('<div class="ajax-loader"></div>')
            $.post("/login",{email: $("#email").val(), password: $("#password").val(), back: encodeURIComponent("#{req.url}")},
                    function(data) {                     
                       $(location).attr('href', redirect)
                }, 'json').fail(function() { 
                  $(".control-group").addClass("error")
                  $(".ajax-loader").remove()
                  $(".navbar-fixed-top").append('<div class="alert alert-error"><button data-dismiss="alert" class="close">×</button>Incorrect email or password.</div>') 
                })          
        })
        $('#forgetpassword').submit(function (e) {
            e.preventDefault()    
            $(".alert-error").remove()   
            $("#forgetpassword").append('<div class="ajax-loader"></div>')          
            $.post("/forgetpassword",{email: $("#email2").val()},
                    function(data) {
                        $(".ajax-loader").remove()
                        if(data.html === "Ok"){
                          $("#modal").modal('hide')
                          $(".navbar-fixed-top").append('<div class="alert alert-success"><button data-dismiss="alert" class="close">×</button>email has been sent.</div>')  
                        }
                        else {
                          $("#forgetpassword .control-group").addClass("error")
                          $("#forgetpassword .controls").append("<span class='help-inline'>"+data.html[0].msg+"</span>")
                        }
                }, 'json')
        })
      })
      