extends ../layouts/layout
block content
  #content.container
    .span6
      if (typeof errors !== 'undefined')
        .fade.in.alert.alert-block.alert-error
          a.close(data-dismiss="alert", href="javascript:void(0)") x
          ul
            each error in errors
              li= error.type
    .row
        .span8.offset2
          .box.clearfix
            .page-header
              h1
                a.btn.btn-success.pull-right.trigger-lightbox.validate-register(href='/signup') Not registered yet?
                | Login
            .facebook-login
              p.mbxs Or login via :
              a(href='/auth/facebook')
                img(src="img/facebook.png", alt="facebook")                 
              a(href='/auth/twitter')
                img(src="img/twitter.png", alt="twitter")                
              a(href='/auth/google')
                img(src="img/gplus.png", alt="google")                 
            form#login.form-vertical.login(action='/login', method='post')
              .control-group
                label.control-label.required(for='email') Email address
                .controls
                  input#email(type='text', tabindex='1', value=email, name='email')
              .control-group
                label.control-label.required(for='password')
                  | Password (
                  a.trigger-lightbox.validate-resetpassword(href='/en/password') forgot password
                  | )
                .controls
                  input#password(type='password', tabindex='2', name='password')
              
              button.btn.btn-info(type='submit') Login 
              &nbsp;       
              a.btn(href='/') Cancel

block custom_page_script
    script  
      $(":input").focusin(function() {   
          $(this).closest('div .control-group').removeClass("error")
          $(".alert-error").remove()
          $(".help-inline").remove()  
      })
      $('#login').submit(function (e) {
          e.preventDefault()
          $(".alert-error").remove()
          $("#login").append('<div class="ajax-loader"></div>')
          $.post("/login",{email: $("#email").val(), password: $("#password").val()},
                  function(data) {
                     $(location).attr('href',"/");
              }, 'json').fail(function() { 
                $(".control-group").addClass("error")
                $(".ajax-loader").remove()
                $(".navbar").append('<div class="alert alert-error"><button data-dismiss="alert" class="close">×</button>Incorrect email or password.</div>') 
              })          
      })
              