extends ../layouts/layout
block content
  #content.container

    .row
        .span8.offset2                   
          .box.clearfix
            .page-header
              h3 Change password                                                    
            form#reset.form-vertical.login(action='/changepassword/#{token}', method='post')
              .control-group.password_cg
                label.control-label.required(for='password') password
                .controls
                  input#password(type='password', name='password')
              .control-group.password2_cg
                label.control-label.required(for='password2') retype password 
                .controls
                  input#password2(type='password', name='password2')
              
              button.btn.btn-info(type='submit') reset 
              &nbsp;     
              a.btn(href='/') Cancel

block custom_page_script
    script      
      
      $(":input").focusin(function() {   
          $(this).closest('div .control-group').removeClass("error")
          $(".alert-error").remove()
          $(".help-inline").remove()  
      })
      $('#reset').submit(function (e) {
          e.preventDefault()
          $(".alert-error").remove()
          $("#reset").append('<div class="ajax-loader"></div>')
          $.post($(this).attr("action"), {password: $("#password").val(), password2: $("#password2").val()},
                  function(data) {  
                      if(data.html.m === "success"){
                        $(location).attr('href', '/')  
                      } 
                      else if(data.html.m === "errortoken"){
                        $(".navbar").append('<div class="alert alert-error"><button data-dismiss="alert" class="close">×</button> '+data.html.msg+' </div>')  
                      }
                      else{                        
                        $.each(data.html,function(i,el)
                        {
                          if(el != null){
                             $("."+el.param+"_cg").addClass("error")
                             $("."+el.param+"_cg").find(".controls").append("<span class='help-inline'>"+el.msg+"</span>")                             
                           }
                        })          
                      }
                      $(".ajax-loader").remove()                     
                    
              }, 'json')  
      })
      
