extends ../layouts/default
block page
  #content.container
    .span6
      if (typeof errors !== 'undefined')
        .fade.in.alert.alert-block.alert-error
          a.close(data-dismiss="alert", href="javascript:void(0)") x
          ul
            each error in errors
              li= error.type
    .row
        .span8.offset2
          .box.clearfix
            .page-header
              h1
                a.btn.btn-success.pull-right.trigger-lightbox.validate-register(href='/login') Already registered ?
                | Login
            .facebook-login
              p.mbxs Or Sign up via :
              a(href='/auth/facebook')
                img(src="http://jquery-fyneworks.googlecode.com/svn/trunk/documentation/facebook.png", alt="facebook")                 
              a(href='/auth/twitter')
                img(src="http://jquery-fyneworks.googlecode.com/svn/trunk/documentation/twitter.png", alt="twitter")                
              a(href='/auth/google')
                img(src="http://jquery-fyneworks.googlecode.com/svn/trunk/documentation/gplus.png", alt="google")                 
            form#login.form-vertical.login(action='/users', method='post')
              .control-group
                label.control-label.required(for='name') User Name
                .controls
                  input#email(type='text', tabindex='1', value=user.name, name='name')            
              .control-group
                label.control-label.required(for='email') Email address
                .controls
                  input#email(type='text', tabindex='1', value=user.email, name='email')
              .control-group
                label.control-label.required(for='password')
                  | Password 
                .controls
                  input#password(type='password', tabindex='2', name='password')
              
              button.btn.btn-primary(type='submit') Sign up 
              &nbsp;       
              button#cancel.btn(name='cancel') Cancel







