extends ../layouts/layout
block content
  #content.container
    .row
        .span8.offset2
          .box.clearfix
            .page-header
              h3
                a.btn.btn-success.pull-right.trigger-lightbox.validate-register(href='/login') Already registered ?
                | Sign up
            .facebook-login
              p.mbxs Or Sign up via :
              a.facebook-login2(href='/auth/facebook')                                 
              a.twitter-login2(href='/auth/twitter')                
                               
            form#signup.form-vertical.login(action='/users', method='post')
              .control-group.name_cg
                label.control-label.required(for='name') User Name
                .controls
                  input#name(type='text', value=user.name, name='name')            
              .control-group.email_cg
                label.control-label.required(for='email') Email address
                .controls
                  input#email(type='text', value=user.email, name='email')
              .control-group.password_cg
                label.control-label.required(for='password')
                  | Password 
                .controls
                  input#password(type='password', name='password')
              
              button.btn.btn-info(type='submit') Sign up 
              &nbsp;       
              a.btn(href='/') Cancel

block custom_page_script
    script 
      $(":input").focusin(function() {   
          $(this).closest('div .control-group').removeClass("error")
          $(".alert-error").remove()
          $(".help-inline").remove()  
        })
      $('#signup').submit(function (e) {
          e.preventDefault()
          var redirect = "#{req.param('back')}" || "/" 
          $(".alert-error").remove()  
          $(".help-inline").remove()                
          $("#signup").append('<div class="ajax-loader"></div>')
          $.post("/users",{name: $("#name").val(), email: $("#email").val(), password: $("#password").val()},
                  function(data) { // success
                    if(data.html === "Ok") $(location).attr('href', redirect);
                    else{
                      $.each(data.html,function(i,el)
                      {
                        if(el != null){
                           $("."+el.param+"_cg").addClass("error")
                           $("."+el.param+"_cg").find(".controls").append("<span class='help-inline'>"+el.msg+"</span>")
                         }
                      })
                      
                      $(".ajax-loader").remove()
                      $(".navbar").append('<div class="alert alert-error"><button data-dismiss="alert" class="close">×</button>Please Correct Errors.</div>')
                    } 
              }, 'json')
      })





