extends ../layouts/layout
block content
  #content.container
    .row
      .span9
        .box.clearfix
          .page-header
            h1 Opinionwall.com
          blockquote.large.mvxl.pvxs
            p  Opinions, surveys, statistics, everything you need to give your opinion and find peaple's opinions about thing that matter.  
          span contact@opinionwall.com       

  include ../layouts/footer          

