extends ../layouts/layout
block content
  #content.container
    .row
      .span9
        .box.clearfix
          .page-header
            h1 Opinon according to the world wide web

          h4 Your opinion ! 
          p Opinionwall.com give you the oportunity to publicly give your opinion and know peaple's attitudes or beliefs toward a certain topic, you can use it as part of marketing research (e.g., opinions of users of a particular product or service). Typically, because the process of gathering opinions from all individuals are difficult, expensive, or impossible to obtain, public opinion (or consumer opinion) has never been easier and simpler.

          h4 the world's opinion 
          p with opinionwall, you can make change happen, together our voice is heard and we are stronger to influence on many levels, economical, social, or political.

         
          hr
          .a
            span.label.label-success OpinionWall ©  2012  
            &nbsp; 
            a(href='/about', title='surveys opinion poll') About Us 
                   


