extends ../layouts/layout
block content
  #content.container
    .row
      .span9
        .box.clearfix
          .page-header
            h1 Opinon according to wikipedia
          h4 Public opinion 
          p In contemporary usage, public opinion is the aggregate of individual attitudes or beliefs held by a population (e.g., a city, state, or country), while consumer opinion is the similar aggregate collected as part of marketing research (e.g., opinions of users of a particular product or service). Typically, because the process of gathering opinions from all individuals are difficult, expensive, or impossible to obtain, public opinion (or consumer opinion) is estimated using survey sampling (e.g., with a representative sample of a population).

          h4 Group opinion 
          p In some social sciences, especially political science and psychology, group opinion refers to the aggregation of opinions collected from group of subjects, such as members of a jury, legislature, committee, or other collective decision-making body. In these situations, researchers are often interested in questions related to social choice, conformity, and group polarization.

          h4 Scientific opinion 
          p A "scientific opinion" is the general opinion of a professional scientific body gained through extensive research with a reproducible, unbiased conclusion soundly based upon the facts derived from the experiment.[2] A scientific opinion which represents the formally-agreed consensus of a scientific body or establishment, often takes the form of a published position paper citing the research producing the scientific evidence upon which the opinion is based. "The scientific opinion" (or scientific consensus) can be compared to "the public opinion" and generally refers to the collection of the opinions of many different scientific organizations and entities and individual scientists in the relevant field.

          h4 Legal opinion 
          p A "legal opinion" or "closing opinion" is a type of professional opinion, usually contained in a formal legal-opinion letter, given by an attorney to a client or a third party. Most legal opinions are given in connection with business transactions. The opinion expresses the attorney's professional judgment regarding the legal matters addressed. A legal opinion is not a guarantee that a court will reach any particular result.[3] However, a mistaken or incomplete legal opinion may be grounds for a professional malpractice claim against the attorney, pursuant to which the attorney may be required to pay the claimant damages incurred as a result of relying on the faulty opinion.

          h4 Judicial opinion 
          p A "judicial opinion" or "opinion of the court" is an opinion of a judge or group of judges that accompanies and explains an order or ruling in a controversy before the court, laying out the rationale and legal principles the court relied on in reaching its decision.[4] Judges in the United States are usually required to provide a well-reasoned basis for their decisions and the contents of their judicial opinions may contain the grounds for appealing and reversing of their decision by a higher court.

          h4 Public opinion 
          p In contemporary usage, public opinion is the aggregate of individual attitudes or beliefs held by a population (e.g., a city, state, or country), while consumer opinion is the similar aggregate collected as part of marketing research (e.g., opinions of users of a particular product or service). Typically, because the process of gathering opinions from all individuals are difficult, expensive, or impossible to obtain, public opinion (or consumer opinion) is estimated using survey sampling (e.g., with a representative sample of a population).

          h4 Public opinion 
          p In contemporary usage, public opinion is the aggregate of individual attitudes or beliefs held by a population (e.g., a city, state, or country), while consumer opinion is the similar aggregate collected as part of marketing research (e.g., opinions of users of a particular product or service). Typically, because the process of gathering opinions from all individuals are difficult, expensive, or impossible to obtain, public opinion (or consumer opinion) is estimated using survey sampling (e.g., with a representative sample of a population).

          
          hr
          .a
            span.label.label-success OpinionWall ©  2012  
            &nbsp; 
            a(href='/about', title='surveys opinion poll') About Us 
                   


