extends ../layouts/default

block main
  h1 Surveys

block content
  form.form-horizontal(method="get", action='/search')
    input(type="text", name="q")
    .form-actions
      button.btn.btn-primary(type='submit') Search
