extends ../layouts/layout

block content
  #content.container
    form.form-horizontal(method="get", action='/search')
      input(type="text", name="q")
      .form-actions
        button.btn.btn-primary(type='submit') Search
