extends ../layouts/layout

block content
  #content.container    
    form.form-search(method="get", action='/search') 
      h4 Results for : 
        input.span4(type="text", name="q", value=q)
        button.btn(type='submit') Search
    .surveys    
      each survey in surveys        
        a.survey-title(href='/surveys/'+survey._id) #{survey.question}
        p 
          small=formatDate(survey.createdAt, "%b %d, %Y at %I:%M %p")
          &nbsp; 
          a.grey-link(href="/users/"+survey.user._id) by #{survey.user.name}  
                          
              
    if (moreResults)
      button.ajax.btn  Load more results ...
          
block custom_page_script
    script  
      var page = 1  
      $(".ajax").click(function(){
          $("#content").append('<div class="ajax-loader"></div>')
          $.getJSON("/search",{q: $("#q").val(), page : page},
            function(data) {
                $(".surveys").append(data.html)
                $(".ajax-loader").remove()
                page++
            })
      })

  
  