.container.navbar-fixed-bottom
  hr
  .a
    span.label.label-success OpinionWall ©  2012  
    &nbsp; 
    a(href='/about', title='surveys opinion poll') About Us 
    &nbsp; 
    a(href='/terms', title='the world opinon') Terms
    
   
            
              
