!!! 5
html(lang='en')
  head
    title= title+' | Opinionswall'
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width,initial-scale=1')  
  
    meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
    meta(name="keywords", content="surveys, opinions, opinion, what's the best")
    meta(name="description", content="surveys, opinions, what's the best")
  
    link(href='/favicon.ico', rel='shortcut icon', type='image/x-icon')
      
    link(rel='stylesheet', href='/css/app.css')
  body
    include header
    block content 
    script(type='text/javascript', src='/js/jquery.min.js')
    script(type='text/javascript', src='/js/bootstrap.min.js')
    script(type='text/javascript', src='/js/bootbox.js')
    
    block custom_page_script