!!! 5
html(lang='en')
  head
    title= appName+' - '+title
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width,initial-scale=1')
  
  
    meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
    meta(name="keywords", content="opinions wall, the world's opinions")
    meta(name="description", content="opinions wall, the world's opinions")
  
    link(href='/favicon.ico', rel='shortcut icon', type='image/x-icon')
       Application styles
    link(rel='stylesheet', href='/css/app.css')
  body
    include header
    block content 
    script(type='text/javascript', src='/js/jquery.min.js')
    script(type='text/javascript', src='/js/bootstrap.min.js')
    script(type='text/javascript', src='/js/bootbox.js')
    script(type='text/javascript', src='/js/app.js')
    block custom_page_script